body {
  background:url("https://lh3.googleusercontent.com/rlSZuQEDVF42rCXOwBvOkiCDaLKqR0od46YZaiOzZiK5xHb4dlb36tAYZezOB067eRQQuZ8pHusGq00Yw-2dZ1UeDMbQie21Zir_DYIQK-b_NrJ2wZuGSnvuIE-EOVqvSWXiWenwaP81nH4GceF0_AjwwzYe8rp47nGhhc0VGGLLFQmo36HgIhZruXQx549XRp5ydHQu4XmR1NC68ZRm3sEmAu6oFsrgk6VqJ_zsTXkuEoZ49nBjtLacPz21EwKxm21GWMnWNy1S0fWZQ5kqHfvFpG_QGHlmiwKc3p6C8rgW2onagGBvJ6gHFh4rwFSgLrVE9Sc8VInamOE8AOXpG1EToJtbsjia6woTEVF6skXqgwqnGQ7xUhf1lC8r_yodDLFZE3OQwYQcJvHoel2EYcaUoKVeHcU_z3bf13OjqQf2WwNFIq1S_LqP_N3vvWNEr1-H9OG9zu6JP4i9HxU2mFiod1vsuhrWesvPWafhOmd4PaUaKYlJ1WmzCGNr2vcCyU7yO4qjK4ciHi2qEpQk-oe3ijNPJtVy5Y-YOJdlgHfF0Ri30aO6ofI9N0omwr4mA5meOtJr0WnsoLSObUMlSkduIg5GVRSX_hRleMYeAcklPWS_z1QljDyEJeJIjX7H9tXvCqaRFv-hGxH9sO-q3PzAIiM3HGVcFl8XtT49f-yD5rEflE2UFRBMVj0gx2bQJHkb2tixfNoHsY_rfnLN_U3RMA=w1368-h912-no?authuser=0") ;
  background-repeat: no-repeat;
  background-size: auto; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
