.numero {
                border:5px;
                display:inline;
                text-decoration-color: blue;

        }
.lista {
           display:inline-flex;
           background-color: black;

        }
.button{
        background-color: slategrey;
        color:snow;
        }
        .button:hover{
                color: slategrey;
                background-color:snow;

        }

